* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

/* INIZIO NAV */
nav {
    position: fixed;
    top: 0px;
    left: 0px;

    height: 80px;
    width: 100%;

    background-color: white;

    border: 1px solid black;
}

#container-nav {
    display: flex;
    justify-content: space-between;

    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;

    height: 100%;

    border: 1px solid black;
}

.nav-element {
    padding: 0 20px;

    border: 1px solid black;
}

/* FINE NAV */

/* INIZIO HEADER */

header {
    background-color: #b4d0e7;
    margin-top: 80px
}

#header-container {
    height: 740px;
    width: 1200px;
    margin: 0 auto;

    border: 1px solid black;
}

#header-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 100px;
    padding-bottom: 50px;

    font-size: 80px;
    font-weight: 700;
}

#header-row {
    display: flex;
    flex-direction: row;

    width: 1200px;
}

#header-row #testo-header {
    height: 372px;
    width: calc(100% / 3);

    border: 1px solid black;
}

#header-row #img-header {
    position: relative;

    border: 1px solid black;
}

#img-header img {
    position: absolute;
}

/* FINE HEADER */

/* INIZIO MAIN */

main {
    background-color: white;
}

#main-container {
    width: 1000px;
    margin: 150px auto 0;
}

h2 {
    font-size: 50px;
    font-weight: 600;

    padding-bottom: 50px;
}

form {
    margin-bottom: 50px;
}

label:first-of-type {
    margin-right: 50px;
}

/* --------------------------------------------- */

#businnes-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    margin-bottom: 150px;

    border: 1px solid black;
}

.vertical-plan {
    max-width: 300px;
    width: 100%;
    height: 950px;

    margin-bottom: 50px;

    background-color: blue;
    border: 1px solid black;
}

#last-plan {
    max-width: 1000px;
    width: 100%;
    height: 250px;

    background-color: blue;
    border: 1px solid black;
}

/* --------------------------------------------- */

#partner-sec {
    display: flex;

    border: 1px solid black;
    height: auto;

    margin-bottom: 160px;
}

#text-partner {
    padding: 50px;
}

/* --------------------------------------------- */

#businnes-info {
    margin-bottom: 200px;
}

#businnes-info > h2 {
    font-size: 40px;
    font-weight: 600;

    padding-bottom: 75px;
}

#businnes-info-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    row-gap: 70px;
}

.single-businnes-info {
    display: flex;
    flex-direction: column;

    max-width: 320px;
    width: 100%;
    height: 500px;

    background-color: blue;
    border: 1px solid black;
}

.single-businnes-info > img {
    align-self: center;
}

.single-businnes-info > h3 {
    font-size: 20px;
    font-weight: 700;

    padding: 30px 0;
}

.single-businnes-info > p {
    font-size: 17px;
    font-weight: 400;
}