* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

/* INIZIO NAV */
nav {
    position: fixed;
    top: 0px;
    left: 0px;

    height: 80px;
    width: 100%;

    background-color: white;

    border: 1px solid black;
}

#container-nav {
    display: flex;
    justify-content: space-between;

    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;

    height: 100%;

    border: 1px solid black;
}

.nav-element {
    padding: 0 20px;

    border: 1px solid black;
}

/* FINE NAV */

/* INIZIO HEADER */

header {
    background-color: #b4d0e7;
    margin-top: 80px
}

#header-container {
    height: 740px;
    width: 1200px;
    margin: 0 auto;

    border: 1px solid black;
}

#header-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 100px;
    padding-bottom: 50px;

    font-size: 80px;
    font-weight: 700;
}

#header-row {
    display: flex;
    flex-direction: row;

    width: 1200px;
}

#header-row #testo-header {
    height: 372px;
    width: calc(100% / 3);

    border: 1px solid black;
}

#header-row #img-header {
    position: relative;

    height: 372px;
    width: calc(100% / 3 * 2);

    border: 1px solid black;
}

#img-header img {
    position: absolute;
}

/* FINE HEADER */

/* INIZIO MAIN */

main {
    background-color: white;
}

#main-container {
    width: 1000px;
    margin: 150px auto 0;

    border: 1px solid black;
}

h2 {
    font-size: 50px;
    font-weight: 600;

    padding-bottom: 50px;
}

form {
    margin-bottom: 50px;
}

label:first-of-type {
    margin-right: 50px;
}